<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Milkdown Engine Example" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "milkdown_engine/application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "milkdown_engine/milkdown", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <p style="color: green;"><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
